{% extends "_base.html" %}

{% block content %}
<section class="banner bg-tertiary position-relative overflow-hidden">
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-lg-6 mb-5 mb-lg-0">
                <div class="block text-center text-lg-start pe-0 pe-xl-5">
                    <h1 class="text-capitalize mb-4">Climate Change: Quick, Easy, Cute</h1>
                    <p class="mb-4">
                        Climate change without the hot air
                    </p>
                    <!-- <a type="button" class="btn btn-primary" href="#">Join us <span style="font-size: 14px;" class="ms-2 fas fa-arrow-right"></span></a> -->
                    <iframe src="https://embeds.beehiiv.com/1afcd622-6f92-41c7-9df0-cd28e11b42af?slim=true" data-test-id="beehiiv-embed" height="52" frameborder="0" scrolling="no" style="margin: 0; border-radius: 0px !important; background-color: transparent;"></iframe>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="ps-lg-5 text-center">
                    <img loading="lazy" decoding="async" src="assets/images/act.png" class="w-100">
                </div>
            </div>
        </div>
    </div>
    <div class="has-shapes">
      {% include "shapes/shape_left_0.html" %}
      {% include "shapes/shape_right_1.html" %}
    </div>
</section>

<!-- ABOUT -->
<section class="section pt-4">
  <div class="container">

    <!-- HEADER -->
    <div class="row">
      <div class="col-lg-12">
        <div class="section-title text-center">
          <p class="text-primary text-uppercase fw-bold">
            {{ headers.about }}
          </p>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="text-justified">
          <p>
            <b>Who are we?</b>
            We are Grin.eco, your new go-to page for sustainability and climate change content! 🐝 Our scientific background (spiced with a dash of geekiness) allows us to go through some of the heavier climate science stuff and come on the other side with the most important highlights relevant to you. 
          </p>
          <p> 
            <b>What do we do?</b>
            We believe that 'cute' is the new 'overwhelming'. There is no point in providing the most up-to-date environmental news and just leaving you there all depressed. That's how we felt when we were just consuming the information without seeing the bigger picture! 🐋 But do not fear - that's not how we do things around here. We provide you with quick tips to reduce your carbon footprint, make well-informed decisions and learn from the experts in the field. And we do all that using cuteness as our tool! 🤗
          </p>
          <p> 
            <b>Why should you care?</b>
            There are quite a few things I've grown to enjoy about our beautiful planet Earth. 🌍 The air being clear enough to see through it. The plants are nicer greener than gone. 🌿 I quite like the Netherlands as they are now, instead of a future pioneering Atlantis. I am a big fun of animals as well.
            
            I don't know about you, but I would be sorry to give that up. So what do you say, are you in?
            
          </p>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="text-justified">
          <iframe width="560" height="315" src="https://www.youtube.com/watch?v=x1ZJsYHeAMw" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
      </div>

    </div>

  </div>
</section>

<!-- PODCASTS -->
<section class="section pt-4">
  <div class="container">

    <!-- HEADER -->
    <div class="row">
      <div class="col-lg-12">
        <div class="section-title text-center">
          <a name="podcast" />
          <p class="text-primary text-uppercase fw-bold">
            <a href="{{ navigation_dict.podcast.url }}">{{ headers.podcast }}</a>
          </p>
          <p> 
            Our Grin.eco Podcast episodes will keep you up-to-date on the most relevant and exciting topics in biodiversity, circular economy and even sustainability in space! 🎙
            
            Make sure to follow us on social media for your daily dose of quick tips and fun facts. You name it, we're there! 📱
          </p>
        </div>
      </div>
    </div>

    <!-- LIST -->
    <div class="row">

      {% for podcast in podcasts[:3] %}
        {% set url = podcast.short_url %}
        {% include "elements/podcast.html" %}
      {% endfor %}

    </div>
  </div>
</section>

<!-- BOOKS -->
<section class="section pt-4">
  <div class="container">

    <!-- HEADER -->
    <div class="row">
      <div class="col-lg-12">
        <div class="section-title text-center">
          <a name="book" />
          <p class="text-primary text-uppercase fw-bold">
            <a href="{{ navigation_dict.books.url }}">{{ headers.books }}</a>
          </p>
          <p>
            (<a href="{{ navigation_dict.books.url }}">read all {{ books|length}}</a>)
          </p>
        </div>
      </div>
    </div>

    <!-- LIST -->
    <div class="row">

      {% for book in books[:3] %}
        {% set url = book.short_url %}
        {% include "elements/book.html" %}
      {% endfor %}

    </div>
  </div>
</section>

<section class="homepage_tab position-relative">
  <div class="section container py-5">
    <div class="row justify-content-center">
      <div class="col-lg-8 mb-4">
        <div class="section-title text-center">
          <a name="about" />
          <p class="text-primary text-uppercase fw-bold mb-3">Our mission</p>
          <h1>Demistify Climate Change</h1>
        </div>
      </div>
      <div class="col-lg-10">
        <ul class="payment_info_tab nav nav-pills justify-content-center mb-4" id="pills-tab" role="tablist">
          <li class="nav-item m-2" role="presentation"> <a
              class="nav-link btn btn-outline-primary effect-none text-dark active" id="pills-learn-tab"
              data-bs-toggle="pill" href="#pills-learn" role="tab"
              aria-controls="pills-learn" aria-selected="true">1. Learn</a>
          </li>
          <li class="nav-item m-2" role="presentation"> <a
              class="nav-link btn btn-outline-primary effect-none text-dark " id="pills-act-tab"
              data-bs-toggle="pill" href="#pills-act" role="tab"
              aria-controls="pills-act" aria-selected="true">2. Act</a>
          </li>
          <li class="nav-item m-2" role="presentation"> <a
              class="nav-link btn btn-outline-primary effect-none text-dark " id="pills-share-tab"
              data-bs-toggle="pill" href="#pills-share" role="tab" aria-controls="pills-share"
              aria-selected="true">3. Share</a>
          </li>
        </ul>
        <div class="rounded shadow bg-white p-5 tab-content" id="pills-tabContent">
          <div class="tab-pane fade show active" id="pills-learn" role="tabpanel"
            aria-labelledby="pills-learn-tab">
            <div class="row align-items-center">
              <div class="col-md-6 order-1 order-md-0">
                <div class="content-block">
                  <h3 class="mb-4">Existential threat or quintessential scam?</h3>
                  <div class="content">
                    <p>
                      Form an informed opinion based on papers, books and conversations with experts in the field.
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-md-6 order-0 order-md-1 mb-5 mt-md-0">
                <div class="image-block text-center">
                  <img loading="lazy" decoding="async" src="assets/images/learn.png" class="img-fluid">
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane fade " id="pills-act" role="tabpanel"
            aria-labelledby="pills-act-tab">
            <div class="row align-items-center">
              <div class="col-md-6 order-1 order-md-0">
                <div class="content-block">
                  <h3 class="mb-4">What can I do?</h3>
                  <div class="content">
                    <p>
                      Discover how you too can get involved.
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-md-6 order-0 order-md-1 mb-5 mt-md-0">
                <div class="image-block text-center">
                  <img loading="lazy" decoding="async" src="assets/images/act.png" class="img-fluid">
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane fade " id="pills-share" role="tabpanel"
            aria-labelledby="pills-share-tab">
            <div class="row align-items-center">
              <div class="col-md-6 order-1 order-md-0">
                <div class="content-block">
                  <h3 class="mb-4">Share your findings!</h3>
                  <div class="content">
                    <p>
                      Share with your friends, make the Earth a better place.
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-md-6 order-0 order-md-1 mb-5 mt-md-0">
                <div class="image-block text-center">
                  <img loading="lazy" decoding="async" src="assets/images/share.png" class="img-fluid">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="has-shapes">
      {% include "shapes/shape_left_1.html" %}
      {% include "shapes/shape_right_0.html" %}
    </div>
  </div>
</section>
{% endblock %}
